.forecast-container {
  /* background-color: blue; */
  justify-content: center;
  justify-items: center;
  margin: auto;
  display: flex;
  align-items: center;
  /* display: inline-block; */
}
.weather-card {
  /* justify-content: center; */
  padding: 5%;
  background-color: honeydew;
  border-radius: 5%;
  margin: 2%;
}
.weather-display {
  margin: 0%;
  /* background-color: aqua; */
}
.weather-display h2 {
  padding-top: 2%;
  /* padding-bottom: 0%; */
}
