:root {
  --primary: #ffdeb5;
  --secondary: #e9724d;
  --bg: #f2ece4;
  --text: #333;
  --highlight: #f7a991;
  --font: Copperplate;
}

body,
.App {
  font: var(--font);
  background-color: var(--bg);
  margin: 0;
  padding: 0;
  color: var(--text);
}

.App {
  text-align: center;
}

/* Header Styles */
header {
  background: linear-gradient(135deg, var(--secondary), var(--primary));
  color: white;
  padding: 1.5vh 1.2vh;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.head-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2vw;
}

.head-container h1 {
  font-size: 5vh;
  margin: 0;
}

.head-container p {
  margin-top: 0.5rem;
  font-weight: 400;
  font-size: 2vh;
}

/* Input + Search */
.user-input {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-right: 2rem;
}

input {
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1vw;
  width: 12vw;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
#search-container button {
  border-radius: 0;
  border: none;
  font-size: 2.1vh;
  padding: 0.9vh;
}
#search-container {
  align-items: center;
  justify-items: center;
  justify-content: center;
  display: flex;
}
button {
  padding: 1vh 1vh;
  border: none;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background-color: var(--highlight);
}

.mode-button,
.mode-button-selected {
  font-size: 2.1vh;
  font-weight: 500;
}

.mode-button-selected {
  background-color: var(--highlight);
  font-weight: bold;
}

/* Dropdowns */
#select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  padding: 2vh 0;
  flex-wrap: wrap;
  margin: 4vh 5vh;
}
main {
  display: flex;
  flex-direction: row;
  height: 80vh;
}
.select-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-component p {
  margin-bottom: 0.5vh;
  font-size: 1.7vh;
  font-weight: 500;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select {
  padding: 0.6vh 0.6vh;
  font-size: 1.7vh;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
}
footer {
  background: linear-gradient(135deg, var(--secondary), var(--primary));
  height: 10vh;
  margin-top: 10vh;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }
  .head-container h1 {
    font-size: 5vh;
    margin: 0;
  }
  input {
    padding: 0.5rem 1rem;
    border: none;
    font-size: 2vh;
    width: 12vw;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  .user-input {
    justify-content: center;
    margin: 5vh 0;
  }

  input {
    width: 30vw;
  }

  #select-container {
    margin-top: 1vh;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 0vh;
  }
  .select-component p {
    font-size: 1.8vh;
  }
  select {
    font-size: 1.8vh;
  }
}
