.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  /* display: flex; */
  /* justify-content: first baseline; */
  flex-direction: column;
  margin-bottom: 3%;
}

.user-input {
  /* display: flex; */
  /* flex-direction: row;
 justify-content: center;
 width: 100vw;
 background-color: aquamarine; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem; /* space between items */
  margin: 1rem 0;
  flex-wrap: wrap;
}
input {
  font-size: 110%;
  border-width: 1px;
  padding: 0.5%;
}

#mode-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* justify-content: center; */
  /* display: flex; */
  flex-direction: row;
  /* flex-wrap: wrap; */

  /* width: 90vw; */
}
#select-container {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  gap: 1rem;
  font-size: 110%;
}
select {
  font-size: 100%;
}
.mode-button,
#submit-button {
  background-color: whitesmoke;
  font-size: 100%;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  /* border: none; */
  border-radius: 10%;
  border: 1%;
  border-color: gainsboro;
  padding: 0.4vw;
  margin: 0.5vw;
  cursor: pointer;
  /* width: 50vw; */
}
.mode-button-selected {
  background-color: rgb(174, 199, 247);
  font-size: 100%;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  /* border: none; */
  border-radius: 10%;
  border: 1%;
  border-color: gainsboro;
  padding: 0.4vw;
  margin: 0.5vw;
  text-decoration: azure;
  font-weight: bold;
  cursor: pointer;
}

#submit-button:hover {
  background-color: rgb(147, 184, 147);
  cursor: pointer;
  /* text-decoration: cornsilk; */
}
